
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dadada;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}

h1 {
  font-weight: 350;
  margin: 0;
  padding: 0;
}

h4 {
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h5 {
  font-weight: 500;
  font-size: medium;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 700;
}

p {
  font-size: medium;
}